@import "//at.alicdn.com/t/font_883551_jpc8eybw1x8.css"

@import "base/variable.styl"
@import "base/mixin.styl"

@import "base/reset-mobile.styl"          // reset.css
@import "components/animations.styl"      // 动画组件全局Css
@import "components/global-css.styl"      // 无特定组件全局Css
@import "components/cube.styl"            // cube Css
@import "components/validate.styl"        // 表单验证
